{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    <h1>Accueil</h1>
    
    <div class="example-wrapper">
        <h2>Statistiques</h2>
        <p>Nombre de clients : {{ clients|length }}</p>
        <p>Nombre de commandes : {{ commandes|length }}</p>
    </div>

<div>
{% endblock %}
