body {
    margin: inherit;
}

h1 {
    font-size: 28px;
    text-align: center;
    position: relative;
    top: 10px;
}


.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
}
.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #797b84;
    color: white;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Label styles (if you want to style labels) */
label {
    font-weight: bold;
}

/* Button styles */
button {
    background-color: #b6ae97;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
}
#inputClient {
    margin-top: 30px;
}


/**nav**/
nav {
    background-color: #393c44;
    
    margin-left: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 41px 4vw;
    text-decoration: none;
}

nav li a:hover {
    background-color: #797b84;
}
.img-laPerle {
    position: absolute;
    float: left;
}