{% extends 'base.html.twig' %}

{% block title %}Modifier Client{% endblock %}

{% block body %}
<div class="formadd">
    <h1>Modifier {{ client.nom }}</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    <button onclick="location.href='{{ path('client_index') }}'">Retour</button>

</div>
{% endblock %}
