{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
<div>
    <h1>Ajouter un Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">back to list</a>
</div>
{% endblock %}
