{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
<div class="formadd">
    <h1>Ajouter un Client</h1>

    {{ include('client/_form.html.twig') }}

    <button onclick="location.href='{{ path('client_index') }}'">Retour</button>
</div>
{% endblock %}
