<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('laPerle.png') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ asset('styles.css') }}">

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig'%}
        {% block body %}{% endblock %}
    </body>
</html>
