<nav>
    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('client_index') }}">Clients</a></li>
        <li><a href="#">Produits</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>